table{
	border: 2px solid;
	border-color: black;
	color: antiquewhite;
}
.oferta {
	background-color: green;
}
.agotado {
	background-color: red;
}
h3 {
	color: antiquewhite;
}
li {
	list-style: url(http://icons.iconarchive.com/icons/flat-icons.com/flat/16/Beer-icon.png)
}